{% extends "layout.html" %}
{% block content1 %}
<center><h1 style="color:white">Planting &amp; Weather Dashboard</h1></center>
    <style>
        .column {
            box-sizing: border-box;
            padding: 5px;
        }

        .row {
            display: grid;
            grid-template-columns: 33.33% 33.33% 33.33%;
            padding: 5px;
            justify-content: center;
            text-align: center;
            
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            border-style: solid;
            border: 1px solid silver;
            text-align: center;
            padding: 8px;
            font-family: Arial, Helvetica, sans-serif;
        }

        td {
            border-style: solid;
            border: 1px solid silver;
            text-align: left;
            padding: 8px;
            font-family: Arial, Helvetica, sans-serif;
        }

        th {
            background-color: #708090;
            color: white;
        }

        tr {
            color: white;
        }
        input[type=button], input[type=submit], input[type=reset] {
            background-color: #1a1c24;
            border: 3px solid silver;
            font-size: 30px;
            color: green;
            text-decoration: none;
            cursor: pointer;
            transition-duration: 0.4s;
            border-radius: 6px;
            font-family: Arial, Helvetica, sans-serif;
        }

        input[type=submit]:hover {
            background-color: #1a1c24;
            color: crimson;
            border: 2px solid crimson;
            opacity: 0.8;
            }
    </style>
    <div class="row">
        <div class="column" style="background-color:#0E1117;">
            <h3 style="color:white;">Neem Oil</h3>
            <table>
                <thead>

                    <tr>
                        {% for col in column_neem %}
                        <th>
                            {{col}}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in row_neem %}
                    <tr>
                        {% for col, row in zip(column_neem,row) %}
                        <td>{{row}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table><br>
            <form method="post" action="/">
                <input type="submit" value="Neem Oil Applied" name="neemaction"/>
            </form>
        </div>
        <div class="column" style="background-color:#0E1117;">
            <h3 style="color:white;">Epsom Salt</h3>
            <table>
                <thead>

                    <tr>
                        {% for col in column_epsom %}
                        <th>
                            {{col}}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in row_epsom %}
                    <tr>
                        {% for col, row in zip(column_epsom,row) %}
                        <td>{{row}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table><br>
            <form method="post" action="/">
                <input type="submit" value="Epsom Salt Applied" name="epsomaction" />
            </form>
        </div>
        <div class="column" style="background-color:#0E1117;">
            <h3 style="color:white;">Fertilizer</h3>
            <table>
                <thead>

                    <tr>
                        {% for col in column_fert %}
                        <th>
                            {{col}}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in row_fert %}
                    <tr>
                        {% for col, row in zip(column_fert,row) %}
                        <td>{{row}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table><br>
            <form method="post" action="/">
                <input type="submit" value="Fertilizer Applied" name="fertaction" />
            </form>
        </div>
    </div>
    {% endblock content1 %}
    {% block content2 %}
    <style>
        .column {
            box-sizing: border-box;
            padding: 5px;
        }

        .row {
            display: grid;
            grid-template-columns: 33.33% 33.33% 33.33%;
            padding: 5px;
            justify-content: center;
            text-align: center;
            
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            border-style: solid;
            border: 1px solid silver;
            text-align: center;
            padding: 8px;
        }

        td {
            border-style: solid;
            border: 1px solid silver;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #708090;
            color: white;
        }

        tr {
            color: white;
        }
    </style>
    <div class="row">
        <div class="column" style="background-color:#0E1117;">
            <h3 style="color:white;">Planting Schedule</h3>
            <table>
                <thead>

                    <tr>
                        {% for col in column_crop %}
                        <th>
                            {{col}}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in row_crop %}
                    <tr>
                        {% for col, row in zip(column_crop,row) %}
                        <td>{{row}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column" style="background-color:#0E1117;">
            <h3 style="color:white;">Hourly Weather</h3>
            <table>
                <thead>

                    <tr>
                        {% for col in column_weather %}
                        <th>
                            {{col}}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in row_weather %}
                    <tr>
                        {% for col, row in zip(column_weather,row) %}
                        <td>{{row}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column" style="background-color:#0E1117;color: white">
            <h3>Currently it is: {{ forecast }}</h3><br>
            <img src='/static/images/{{ picture }}' alt="Picture Failure">
        </div>
    </div>
    {% endblock content2 %}
